.portfolio-sidebar-list-wrapper {
  overflow: scroll;
  height: 100vh;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  .portfolio-item-thumb {
    padding: 21px;
    
    .portfolio-thumg-img img {
      width: 100%;
    }
    .title {
      color: $offwhite;
    }
    
    .delete-item {
      color: $teal;
      cursor: pointer;
    }
  }
}