.portfolio-sidebar-list-wrapper {
  overflow: scroll;
  height: 100vh;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  .portfolio-item-thumb {
    padding: 21px;
    
    .portfolio-thumg-img img {
      width: 100%;
    }

    .portfolio-action-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        color: $offwhite;
        font-size: 1.2em;
      }
      .delete-icon {
        font-size: 1.2em;
        transition: 0.5s ease-in-out;
        color: $offwhite;
        cursor: pointer;
        &:hover {
          color: $warning;
        }
      }
    }
  }
}